/* Estilos para la pantalla de carga */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Fondo sólido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden; /* Evitar scroll */
    animation: fadeOutOverlay 1s ease 3s forwards; /* Fade-out para el fondo */
}

.loading-content {
    text-align: center;
}

.loading-logo {
    width: 100px; /* Ajusta el tamaño del logo */
    animation: moveUp 0.5s ease-in-out forwards, fadeOut 1s ease 3s forwards; /* Animaciones más rápidas */
}

.loading-text {
    opacity: 0;
    font-size: 1.5rem;
    color: #333;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards, fadeOut 1s ease 3s forwards; /* Animaciones más rápidas */
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOutOverlay {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Deshabilitar scroll durante la pantalla de carga */
body {
    overflow: hidden;
}