/* -------------------------------- */
/* Estilos para content */
/* -------------------------------- */

/* Sección de content */
.contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 50px 5%;
    grid-auto-rows: 200px;
}

.content {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.content img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

.content-info {
    padding: 15px;
    text-align: center;
}

.content-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c3e50; /* Azul oscuro */
}

.content-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

/* Tamaños específicos */
.large {
    grid-column: span 2;
    grid-row: span 2;
}

.medium {
    grid-column: span 2;
}

.small {
    grid-column: span 1;
}
